In [1]:
# Importing libraries
import pandas as pd

In [41]:
# importing dataset

df = pd.read_csv(r"C:\Users\udayk\Downloads\agro Farming data\DATASET - Sheet1.csv")

In [3]:
data.head()

  CROP TYPE SOIL TYPE  REGION TEMPERATURE WEATHER CONDITION  WATER REQUIREMENT
0    BANANA       DRY  DESERT          20            NORMAL               8.75
1    BANANA       DRY  DESERT          32             SUNNY              10.25
2    BANANA       DRY  DESERT          21             WINDY               9.65
3    BANANA       DRY  DESERT          21             RAINY               0.75
4    BANANA       DRY  DESERT       20-30            NORMAL               9.85

In [4]:
data.columns

Index(['CROP TYPE', 'SOIL TYPE', 'REGION', 'TEMPERATURE', 'WEATHER CONDITION',
       'WATER REQUIREMENT'],
      dtype='object')

In [5]:
data.dtypes

CROP TYPE             object
SOIL TYPE             object
REGION                object
TEMPERATURE           object
WEATHER CONDITION     object
WATER REQUIREMENT    float64
dtype: object

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2880 entries, 0 to 2879
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CROP TYPE          2880 non-null   object
 1   SOIL TYPE          2880 non-null   object
 2   REGION             2880 non-null   object
 3   TEMPERATURE        2880 non-null   object
 4   WEATHER CONDITION  2880 non-null   object
 5   WATER REQUIREMENT  2880 non-null   float64
dtypes: float64(1), object(5)
memory usage: 135.1+ KB

In [7]:
data.isnull().sum()

CROP TYPE            0
SOIL TYPE            0
REGION               0
TEMPERATURE          0
WEATHER CONDITION    0
WATER REQUIREMENT    0
dtype: int64

In [8]:
data.describe()

       WATER REQUIREMENT
count        2880.000000
mean            6.463141
std            22.687385
min             0.100000
25%             2.700000
50%             5.860000
75%             8.000000
max           606.000000

In [9]:
data.value_counts().sum()

2880

In [10]:
data.value_counts().unique()

array([1], dtype=int64)

In [11]:
data.shape

(2880, 6)

In [16]:

# Check for unexpected values in categorical columns
print("Unique values in 'CROP TYPE':", data['CROP TYPE'].unique())
print("Unique values in 'SOIL TYPE':", data['SOIL TYPE'].unique())
print("Unique values in 'REGION':", data['REGION'].unique())
print("Unique values in 'WEATHER CONDITION':", data['WEATHER CONDITION'].unique())

Unique values in 'CROP TYPE': ['BANANA' 'SOYABEAN' 'CABBAGE' 'POTATO' 'RICE' 'MELON' 'MAIZE' 'CITRUS'
 'BEAN' 'WHEAT' 'MUSTARD' 'COTTON' 'SUGARCANE' 'TOMATO' 'ONION']
Unique values in 'SOIL TYPE': ['DRY' 'HUMID' 'WET']
Unique values in 'REGION': ['DESERT' 'SEMI ARID' 'SEMI HUMID' 'HUMID']
Unique values in 'WEATHER CONDITION': ['NORMAL' 'SUNNY' 'WINDY' 'RAINY']

In [27]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score


# Convert categorical columns to numerical using factorize
df['CROP TYPE'], _ = pd.factorize(df['CROP TYPE'])
df['SOIL TYPE'], _ = pd.factorize(df['SOIL TYPE'])
df['REGION'], _ = pd.factorize(df['REGION'])
df['WEATHER CONDITION'], _ = pd.factorize(df['WEATHER CONDITION'])

# Function to split 'TEMPERATURE' column
def split_temperature(temp):
    if '-' in temp:
        temp_range = temp.split('-')
        return pd.Series([int(temp_range[0]), int(temp_range[1])])
    else:
        temp_value = int(temp)
        return pd.Series([temp_value, temp_value])

df[['TEMP_MIN', 'TEMP_MAX']] = df['TEMPERATURE'].apply(split_temperature)
df.drop('TEMPERATURE', axis=1, inplace=True)

# Prepare feature matrix X and target vector y
X = df.drop('WATER REQUIREMENT', axis=1)
y = df['WATER REQUIREMENT']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared: {r2}")
print(f"Model Coefficients: {model.coef_}")
print(f"Model Intercept: {model.intercept_}")

# Displaying the predicted vs actual values
results = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(results)

Root Mean Squared Error (RMSE): 3.553021153689985
R-squared: 0.21217604837563742
Model Coefficients: [ 0.00986938  0.25132813 -1.16101443 -1.22155437 -0.14487678  0.22714227]
Model Intercept: 5.908162566985181
      Actual  Predicted
471     0.20   5.270284
1453    7.50   8.247036
2377   11.75   9.795756
1601    6.83   6.744467
1094    5.60   7.933790
...      ...        ...
811     7.50   4.700336
109     9.00   8.177950
2831    0.30   9.667924
163     0.10   2.151702
1921    7.62   6.512877

[576 rows x 2 columns]

In [ ]:
import pickle

# Save the trained model to a .pkl file
with open('logistic_regression_model4.pkl', 'wb') as file:
    pickle.dump(model, file)

In [ ]:
from IPython.display import FileLink

# Create a download link for the pickle file
FileLink('logistic_regression_model.pkl')